# BEE
# directory where the keys and all Bee data will be stored
BEE_DATA_PATH=/Users/hello/bee-wiki/
# the password with which the keys will be encrypted
BEE_PASSWORD=YOUR_STRONG_PASSWORD
# your key from getblock.io to access the blockchain, this is needed for the bee node
BEE_SWAP_ENDPOINT=https://stake.getblock.io/mainnet/?api_key=YOUR_KEY_HERE
# how detailed messages the bee node should output. 1 to 5
BEE_VERBOSITY=2
# what disk size can be used by the node. 10000000 ~50gb
BEE_CACHE_CAPACITY=10000000

# GENERAL
# prefix for feeds
WIKI_SWARM_PREFIX=wiki_
# redis data directory
REDIS_DIR=/Users/hello/wiki-redis/

# TRIGGER
# link to get information about available ZIM files
WIKI_BASE=https://dumps.wikimedia.org/other/kiwix/zim/wikipedia/
# prefix for checking certain archives, there can be several, separated by commas
WIKI_ZIMS_CHECK=wikipedia_en_all_maxi|en
# port for trigger server
WIKI_TRIGGER_PORT=3104

# DOWNLOADER
# port for downloader server
WIKI_DOWNLOADER_PORT=3100
# directory where ZIM files are stored
WIKI_DOWNLOAD_LOCAL_DIR=/Users/test/zim-files/

# EXTRACTOR
# how much parallel extractors should be used
WIKI_EXTRACTOR_CONCURRENCY=100
# port for extractor server
WIKI_EXTRACTOR_PORT=3102
# at which index should processing be started
WIKI_EXTRACTOR_OFFSET=0
# how many items should be processed
WIKI_EXTRACTOR_LIMIT=1000000

# UPLOADER
# how much parallel uploaders should be used. The more, the greater the load on the Bee node
WIKI_UPLOADER_CONCURRENCY=100
# port for uploader server
WIKI_UPLOADER_PORT=3101
# private key for feeds signing. You can create new private key using `swarm-cli identity create` command from `https://github.com/ethersphere/swarm-cli`
WIKI_UPLOADER_PRIVATE_KEY=YOUR_PRIVATE_KEY_FOR_SWARM_FEED
# redis server address
WIKI_UPLOADER_REDIS=redis://redis:6379

# ENHANCER
# port for enhancer server
WIKI_ENHANCER_PORT=3103

# INDEXER
# port for indexer server
WIKI_INDEXER_PORT=3105

# TOPUPER
# if the batch is less than this time, then topup will be triggered
# 7 days - 604800
WIKI_TOPUPER_TTL_LIMIT=604800
# list of batches to topup
WIKI_TOPUPER_TARGET_BATCHES=BATCHES_SEPARATED_BY_COMMA_WITHOUT_SPACES
# topup amount
WIKI_TOPUPER_AMOUNT=100000000
# batch TTL check interval
# 600 seconds - 10 minutes
WIKI_TOPUPER_SLEEP_SECONDS=600