/*!
 * Display neat icons on redirect pages.
 */

/* stylelint-disable selector-class-pattern */

/* Hide, but keep accessible for screen-readers. */
.redirectMsg p {
	overflow: hidden;
	height: 0;
}

.redirectText {
	list-style: none;
	display: inline;
	/* shared.css has some very weird directionality-specific rules for 'ul' we need to override,
	 * search for "Correct directionality when page dir is different from site/user dir" */
	/* stylelint-disable declaration-no-important */
	margin: 0 !important;
	padding: 0 !important;
	/* stylelint-enable declaration-no-important */
}

/* @noflip */
.mw-content-ltr .redirectText li {
	display: inline;
	margin: 0;
	padding: 0;
	padding-left: 42px;
	background: transparent url(/w/resources/src/mediawiki.action/images/nextredirect-ltr.png?778f7) bottom left no-repeat;
	background-image: linear-gradient( transparent, transparent ), url(/w/resources/src/mediawiki.action/images/nextredirect-ltr.svg?3ffd5);
}

/* @noflip */
.mw-content-ltr .redirectText li:first-child {
	padding-left: 47px;
	background: transparent url(/w/resources/src/mediawiki.action/images/redirect-ltr.png?926f7) bottom left no-repeat;
	background-image: linear-gradient( transparent, transparent ), url(/w/resources/src/mediawiki.action/images/redirect-ltr.svg?ff441);
}

/* @noflip */
.mw-content-rtl .redirectText li {
	display: inline;
	margin: 0;
	padding: 0;
	padding-right: 42px;
	background: transparent url(/w/resources/src/mediawiki.action/images/nextredirect-rtl.png?3fa7a) bottom right no-repeat;
	background-image: linear-gradient( transparent, transparent ), url(/w/resources/src/mediawiki.action/images/nextredirect-rtl.svg?67397);
}

/* @noflip */
.mw-content-rtl .redirectText li:first-child {
	padding-right: 47px;
	background: transparent url(/w/resources/src/mediawiki.action/images/redirect-rtl.png?adb14) bottom right no-repeat;
	background-image: linear-gradient( transparent, transparent ), url(/w/resources/src/mediawiki.action/images/redirect-rtl.svg?db62f);
}

.redirectText {
  font-size: 140%;
}
.redirectMsg p {
  margin: 0;
}
