/*
Problematic modules: {
    "skins.minerva.base.reset": "missing",
    "skins.minerva.content.styles": "missing",
    "mobile.app.pagestyles.android": "missing"
}
*/
/* CSS for Parsoid Cite extension */

/* Style for <ref>s */
.mw-ref {
	vertical-align: super;
	line-height: 1;
	font-size: smaller;
	/* Do not inherit bold or italic */
	font-weight: normal;
	font-style: normal;
	/* Isolation to fix references in case of RTL words at the end of a reference */
	unicode-bidi: -moz-isolate;
	unicode-bidi: -webkit-isolate;
	unicode-bidi: isolate;
}

.mw-ref-follow {
	display: none;
}

/* Upstream bug in stylelint makes it complain aboout the case of 'mw-Ref' */
/* stylelint-disable value-keyword-case */

/* With a group set */
.mw-ref a[ data-mw-group ]:after {
	content: '[' attr( data-mw-group ) ' ' counter( mw-Ref, decimal ) ']';
}

/* Groups with special appearance */
.mw-ref a[ data-mw-group='decimal' ]:after {
	content: '[' counter( mw-Ref, decimal ) ']';
}

.mw-ref a[ data-mw-group='lower-alpha' ]:after {
	content: '[' counter( mw-Ref, lower-alpha ) ']';
}

.mw-ref a[ data-mw-group='upper-alpha' ]:after {
	content: '[' counter( mw-Ref, upper-alpha ) ']';
}

.mw-ref a[ data-mw-group='lower-greek' ]:after {
	content: '[' counter( mw-Ref, lower-greek ) ']';
}

.mw-ref a[ data-mw-group='lower-roman' ]:after {
	content: '[' counter( mw-Ref, lower-roman ) ']';
}

.mw-ref a[ data-mw-group='upper-roman' ]:after {
	content: '[' counter( mw-Ref, upper-roman ) ']';
}

.mw-ref a[ data-mw-group='error-test' ]:after {
	content: '[' counter( mw-Ref, symbols( cyclic 'first' 'second' 'last!' ) ) ']';
}

/* Without a group */
.mw-ref a:after {
	content: '[' counter( mw-Ref, decimal ) ']';
}

/* Hide the default rendering in browsers that support content
 * generation by selecting for :after pseudo-element. */
/* stylelint-disable-next-line selector-type-no-unknown */
x-thereisnoelementwiththisname:after,
span.mw-reflink-text {
	display: none;
}

/* Style for linkbacks from <references> to <ref>s */
ol.mw-references {
	/* Resetting *any* counter on an <ol> element messes the build-in numbering in Firefox up.
	   Explicitely resetting the build-in "list-item" counter fixes this. */
	counter-reset: mw-ref-linkback list-item;
}

ol.mw-references > li {
	counter-increment: mw-ref-linkback;
}

[ rel='mw:referencedBy' ] {
	counter-reset: mw-ref-linkback -1;
}

[ rel='mw:referencedBy' ]:before {
	content: '↑ ';
}

span[ rel='mw:referencedBy' ] a:before {
	counter-increment: mw-ref-linkback;
	content: counters( mw-ref-linkback, '.', decimal );
	vertical-align: super;
	line-height: 1;
	font-size: smaller;
}

span[ rel='mw:referencedBy' ] a:after {
	content: ' ';
}

/* Hide the default rendering in browsers that support content
 * generation by selecting for :after pseudo-element. */
/* stylelint-disable-next-line selector-type-no-unknown */
x-thereisnoelementwiththisname[ rel='mw:referencedBy' ]:before,
span.mw-linkback-text {
	display: none;
}
/*
MediaWiki:Common.css
*/
/* Reset italic styling set by user agent */
cite,
dfn {
	font-style: inherit;
}

/* Straight quote marks for <q> */
q {
	quotes: '"' '"' "'" "'";
}

/* Avoid collision of blockquote with floating elements by swapping margin and padding */
blockquote {
	overflow: hidden;
	margin: 1em 0;
	padding: 0 40px;
}

/* Consistent size for <small>, <sub> and <sup> */
small {
	font-size: 85%;
}

.mw-body-content sub,
.mw-body-content sup,
span.reference /* for Parsoid */ {
	font-size: 80%;
}

/* Same spacing for indented and unindented paragraphs on talk pages */
.ns-talk .mw-body-content dd {
	margin-top: 0.4em;
	margin-bottom: 0.4em;
}

/* Reduce page jumps by hiding collapsed/dismissed content */
.client-js .mw-special-Watchlist #watchlist-message,
.client-js .collapsible:not( .mw-made-collapsible).collapsed > tbody > tr:not(:first-child),

/* Hide charinsert base for those not using the gadget */
#editpage-specialchars {
	display: none;
}

/* Adds padding above Watchlist announcements where new recentchanges/watchlist filters are enabled */
.mw-rcfilters-enabled .mw-specialpage-summary {
	margin-top: 1em;
}

/* Make the list of references smaller
 * Keep in sync with Template:Refbegin/styles.css
 * And Template:Reflist/styles.css
 */
ol.references {
	font-size: 90%;
	margin-bottom: 0.5em;
}

/* Style for horizontal lists (separator following item).
   @source mediawiki.org/wiki/Snippets/Horizontal_lists
   @revision 8 (2016-05-21)
   @author [[User:Edokter]]
 */
.hlist dl,
.hlist ol,
.hlist ul {
	margin: 0;
	padding: 0;
}

/* Display list items inline */
.hlist dd,
.hlist dt,
.hlist li {
	margin: 0; /* don't trust the note that says margin doesn't work with inline
				* removing margin: 0 makes dds have margins again */
	display: inline;
}

/* Display nested lists inline */
.hlist.inline,
.hlist.inline dl,
.hlist.inline ol,
.hlist.inline ul,
.hlist dl dl,
.hlist dl ol,
.hlist dl ul,
.hlist ol dl,
.hlist ol ol,
.hlist ol ul,
.hlist ul dl,
.hlist ul ol,
.hlist ul ul {
	display: inline;
}

/* Hide empty list items */
.hlist .mw-empty-li {
	display: none;
}

/* Generate interpuncts */
.hlist dt:after {
	content: ": ";
}

/**
 * Note hlist style usage differs in Minerva and is defined in core as well!
 * Please check Minerva desktop (and Minerva.css) when changing
 * See https://phabricator.wikimedia.org/T213239
 */
.hlist dd:after,
.hlist li:after {
	content: " · ";
	font-weight: bold;
}

.hlist dd:last-child:after,
.hlist dt:last-child:after,
.hlist li:last-child:after {
	content: none;
}

/* Add parentheses around nested lists */
.hlist dd dd:first-child:before,
.hlist dd dt:first-child:before,
.hlist dd li:first-child:before,
.hlist dt dd:first-child:before,
.hlist dt dt:first-child:before,
.hlist dt li:first-child:before,
.hlist li dd:first-child:before,
.hlist li dt:first-child:before,
.hlist li li:first-child:before {
	content: " (";
	font-weight: normal;
}

.hlist dd dd:last-child:after,
.hlist dd dt:last-child:after,
.hlist dd li:last-child:after,
.hlist dt dd:last-child:after,
.hlist dt dt:last-child:after,
.hlist dt li:last-child:after,
.hlist li dd:last-child:after,
.hlist li dt:last-child:after,
.hlist li li:last-child:after {
	content: ")";
	font-weight: normal;
}

/* Put ordinals in front of ordered list items */
.hlist ol {
	counter-reset: listitem;
}

.hlist ol > li {
	counter-increment: listitem;
}

.hlist ol > li:before {
	content: " " counter(listitem) "\a0";
}

.hlist dd ol > li:first-child:before,
.hlist dt ol > li:first-child:before,
.hlist li ol > li:first-child:before {
	content: " (" counter(listitem) "\a0";
}

/* Unbulleted lists */
.plainlist ol,
.plainlist ul {
	line-height: inherit;
	list-style: none none;
	margin: 0;
}

.plainlist ol li,
.plainlist ul li {
	margin-bottom: 0;
}

/* Styling for JQuery makeCollapsible, matching that of collapseButton */
.mw-parser-output .mw-collapsible-toggle {
	font-weight: normal;
	/* @noflip */
	text-align: right;
	padding-right: 0.2em;
	padding-left: 0.2em;
}

.mw-collapsible-leftside-toggle .mw-collapsible-toggle {
	/* @noflip */
	float: left;
	/* @noflip */
	text-align: left;
}

/* Infobox template style */
.infobox {
	border: 1px solid #a2a9b1;
	border-spacing: 3px;
	background-color: #f8f9fa;
	color: black;
	/* @noflip */
	margin: 0.5em 0 0.5em 1em;
	padding: 0.2em;
	/* @noflip */
	float: right;
	/* @noflip */
	clear: right;
	font-size: 88%;
	line-height: 1.5em;
	width: 22em;
}

.infobox-header,
.infobox-label,
.infobox-above,
.infobox-full-data,
.infobox-data,
.infobox-below,
.infobox-subheader,
.infobox-image,
.infobox-navbar,
/* Remove element selector when every .infobox thing is using the standard module/templates  */
.infobox th,
.infobox td {
	vertical-align: top;
}

.infobox-label,
.infobox-data,
/* Remove element selector when every .infobox thing is using the standard module/templates  */
.infobox th,
.infobox td {
	/* @noflip */
	text-align: left;
}

/* Remove .infobox when element selectors above are removed */
.infobox .infobox-above,
.infobox .infobox-title,
/* Remove element selector when every .infobox thing is using the standard module/templates  */
.infobox caption {
	font-size: 125%;
	font-weight: bold;
	text-align: center;
}

.infobox-title,
/* Remove element selector when every .infobox thing is using the standard module/templates  */
.infobox caption {
	padding: 0.2em;
}

/* Remove .infobox when element selectors above are removed */
.infobox .infobox-header,
.infobox .infobox-subheader,
.infobox .infobox-image,
.infobox .infobox-full-data,
.infobox .infobox-below {
	text-align: center;
}

/* Remove .infobox when element selectors above are removed */
.infobox .infobox-navbar {
	/* @noflip */
	text-align: right;
}

/* Normal font styling for wikitable row headers with scope="row" tag */
.wikitable.plainrowheaders th[scope=row],
.wikitable.plainrowheaders th[scope=rowgroup] {
	font-weight: normal;
	/* @noflip */
	text-align: left;
}

/* Lists in wikitable data cells are always left-aligned */
.wikitable td ul,
.wikitable td ol,
.wikitable td dl {
	/* @noflip */
	text-align: left;
}

/* Fix for hieroglyphs specificity issue in infoboxes ([[phab:T43869]]) */
table.mw-hiero-table td {
	vertical-align: middle;
}

/* Change the external link icon to a PDF icon for all PDF files */
.mw-parser-output a[href$=".pdf"].external,
.mw-parser-output a[href*=".pdf?"].external,
.mw-parser-output a[href*=".pdf#"].external,
.mw-parser-output a[href$=".PDF"].external,
.mw-parser-output a[href*=".PDF?"].external,
.mw-parser-output a[href*=".PDF#"].external {
	background: url(//upload.wikimedia.org/wikipedia/commons/4/4d/Icon_pdf_file.png) no-repeat right;
	/* @noflip */
	padding: 8px 18px 8px 0;
}

/* System messages styled similarly to fmbox */
div.mw-warning-with-logexcerpt,
div.mw-lag-warn-high,
div.mw-cascadeprotectedwarning,
div#mw-protect-cascadeon,
div.titleblacklist-warning {
	clear: both;
	margin: 0.2em 0;
	border: 1px solid #bb7070;
	background-color: #ffdbdb;
	padding: 0.25em 0.9em;
	box-sizing: border-box;
}

/* default colors for partial block message */
.mw-contributions-blocked-notice-partial .mw-warning-with-logexcerpt {
	border-color: #fc3;
	background-color: #fef6e7;
}

/* ambox/tmbox/imbox/cmbox/ombox/fmbox/dmbox message boxes */
th.mbox-text, td.mbox-text {   /* The message body cell(s) */
	border: none;
	/* @noflip */
	padding: 0.25em 0.9em;     /* 0.9em left/right */
	width: 100%;               /* Make all mboxes the same width regardless of text length */
}

td.mbox-image {                /* The left image cell */
	border: none;
	/* @noflip */
	padding: 2px 0 2px 0.9em;  /* 0.9em left, 0px right */
	text-align: center;
}

td.mbox-imageright {           /* The right image cell */
	border: none;
	/* @noflip */
	padding: 2px 0.9em 2px 0;  /* 0px left, 0.9em right */
	text-align: center;
}

td.mbox-empty-cell {           /* An empty narrow cell */
	border: none;
	padding: 0;
	width: 1px;
}

/* Article message box styles */
table.ambox {
	margin: 0 10%;                  /* 10% = Will not overlap with other elements */
	border: 1px solid #a2a9b1;
	/* @noflip */
	border-left: 10px solid #36c;  /* Default "notice" blue */
	background-color: #fbfbfb;
	box-sizing: border-box;
}

/* Single border between stacked boxes. */
table.ambox + table.ambox,
table.ambox + .mw-empty-elt + table.ambox {
	margin-top: -1px;
}

.ambox th.mbox-text,
.ambox td.mbox-text {            /* The message body cell(s) */
	padding: 0.25em 0.5em;       /* 0.5em left/right */
}

.ambox td.mbox-image {           /* The left image cell */
	/* @noflip */
	padding: 2px 0 2px 0.5em;    /* 0.5em left, 0px right */
}

.ambox td.mbox-imageright {      /* The right image cell */
	/* @noflip */
	padding: 2px 0.5em 2px 0;    /* 0px left, 0.5em right */
}

table.ambox-notice {
	/* @noflip */
	border-left: 10px solid #36c;       /* Blue */
}

table.ambox-speedy {
	/* @noflip */
	border-left: 10px solid #b32424;    /* Red */
	background-color: #fee7e6;          /* Pink */
}

table.ambox-delete {
	/* @noflip */
	border-left: 10px solid #b32424;    /* Red */
}

table.ambox-content {
	/* @noflip */
	border-left: 10px solid #f28500;    /* Orange */
}

table.ambox-style {
	/* @noflip */
	border-left: 10px solid #fc3;       /* Yellow */
}

table.ambox-move {
	/* @noflip */
	border-left: 10px solid #9932cc;    /* Purple */
}

table.ambox-protection {
	/* @noflip */
	border-left: 10px solid #a2a9b1;    /* Gray-gold */
}

/* Image message box styles */
table.imbox {
	margin: 4px 10%;
	border-collapse: collapse;
	border: 3px solid #36c;    /* Default "notice" blue */
	background-color: #fbfbfb;
	box-sizing: border-box;
}

.imbox .mbox-text .imbox {  /* For imboxes inside imbox-text cells. */
	margin: 0 -0.5em;       /* 0.9 - 0.5 = 0.4em left/right.        */
	display: block;         /* Fix for webkit to force 100% width.  */
}

.mbox-inside .imbox {       /* For imboxes inside other templates.  */
	margin: 4px;
}

table.imbox-notice {
	border: 3px solid #36c;       /* Blue */
}

table.imbox-speedy {
	border: 3px solid #b32424;    /* Red */
	background-color: #fee7e6;    /* Pink */
}

table.imbox-delete {
	border: 3px solid #b32424;    /* Red */
}

table.imbox-content {
	border: 3px solid #f28500;    /* Orange */
}

table.imbox-style {
	border: 3px solid #fc3;       /* Yellow */
}

table.imbox-move {
	border: 3px solid #9932cc;    /* Purple */
}

table.imbox-protection {
	border: 3px solid #a2a9b1;    /* Gray-gold */
}

table.imbox-license {
	border: 3px solid #88a;       /* Dark gray */
	background-color: #f7f8ff;    /* Light gray */
}

table.imbox-featured {
	border: 3px solid #cba135;    /* Brown-gold */
}

/* Category message box styles */
table.cmbox {
	margin: 3px 10%;
	border-collapse: collapse;
	border: 1px solid #a2a9b1;
	background-color: #dfe8ff;    /* Default "notice" blue */
	box-sizing: border-box;
}

table.cmbox-notice {
	background-color: #d8e8ff;    /* Blue */
}

table.cmbox-speedy {
	margin-top: 4px;
	margin-bottom: 4px;
	border: 4px solid #b32424;    /* Red */
	background-color: #ffdbdb;    /* Pink */
}

table.cmbox-delete {
	background-color: #ffdbdb;    /* Pink */
}

table.cmbox-content {
	background-color: #ffe7ce;    /* Orange */
}

table.cmbox-style {
	background-color: #fff9db;    /* Yellow */
}

table.cmbox-move {
	background-color: #e4d8ff;    /* Purple */
}

table.cmbox-protection {
	background-color: #efefe1;    /* Gray-gold */
}

/* Other pages message box styles */
table.ombox {
	margin: 4px 10%;
	border-collapse: collapse;
	border: 1px solid #a2a9b1;    /* Default "notice" gray */
	background-color: #f8f9fa;
	box-sizing: border-box;
}

table.ombox-notice {
	border: 1px solid #a2a9b1;    /* Gray */
}

table.ombox-speedy {
	border: 2px solid #b32424;    /* Red */
	background-color: #fee7e6;    /* Pink */
}

table.ombox-delete {
	border: 2px solid #b32424;    /* Red */
}

table.ombox-content {
	border: 1px solid #f28500;    /* Orange */
}

table.ombox-style {
	border: 1px solid #fc3;       /* Yellow */
}

table.ombox-move {
	border: 1px solid #9932cc;    /* Purple */
}

table.ombox-protection {
	border: 2px solid #a2a9b1;    /* Gray-gold */
}

/* Talk page message box styles */
table.tmbox {
	margin: 4px 10%;
	border-collapse: collapse;
	border: 1px solid #c0c090;    /* Default "notice" gray-brown */
	background-color: #f8eaba;
	min-width: 80%;
	box-sizing: border-box;
}

.tmbox.mbox-small {
	min-width: 0;                /* reset the min-width of tmbox above        */
}

.mediawiki .mbox-inside .tmbox { /* For tmboxes inside other templates. The "mediawiki" class ensures that */
	margin: 2px 0;               /* this declaration overrides other styles (including mbox-small above)   */
	width: 100%;                 /* For Safari and Opera */
}

.mbox-inside .tmbox.mbox-small { /* "small" tmboxes should not be small when  */
	line-height: 1.5em;          /* also "nested", so reset styles that are   */
	font-size: 100%;             /* set in "mbox-small" above.                */
}

table.tmbox-speedy {
	border: 2px solid #b32424;    /* Red */
	background-color: #fee7e6;    /* Pink */
}

table.tmbox-delete {
	border: 2px solid #b32424;    /* Red */
}

table.tmbox-content {
	border: 2px solid #f28500;    /* Orange */
}

table.tmbox-style {
	border: 2px solid #fc3;       /* Yellow */
}

table.tmbox-move {
	border: 2px solid #9932cc;    /* Purple */
}

table.tmbox-protection,
table.tmbox-notice {
	border: 1px solid #c0c090;    /* Gray-brown */
}

/* Footer and header message box styles */
table.fmbox {
	clear: both;
	margin: 0.2em 0;
	width: 100%;
	border: 1px solid #a2a9b1;
	background-color: #f8f9fa;     /* Default "system" gray */
	box-sizing: border-box;
}

table.fmbox-system {
	background-color: #f8f9fa;
}

table.fmbox-warning {
	border: 1px solid #bb7070;  /* Dark pink */
	background-color: #ffdbdb;  /* Pink */
}

table.fmbox-editnotice {
	background-color: transparent;
}

/* These mbox-small classes must be placed after all other
   ambox/tmbox/ombox etc classes. "html body.mediawiki" is so
   they override "table.ambox + table.ambox" above. */
html body.mediawiki .mbox-small {   /* For the "small=yes" option. */
	/* @noflip */
	clear: right;
	/* @noflip */
	float: right;
	/* @noflip */
	margin: 4px 0 4px 1em;
	box-sizing: border-box;
	width: 238px;
	font-size: 88%;
	line-height: 1.25em;
}

html body.mediawiki .mbox-small-left {   /* For the "small=left" option. */
	/* @noflip */
	margin: 4px 1em 4px 0;
	box-sizing: border-box;
	overflow: hidden;
	width: 238px;
	border-collapse: collapse;
	font-size: 88%;
	line-height: 1.25em;
}

/* Style for compact ambox */
/* Hide the images */
.compact-ambox table .mbox-image,
.compact-ambox table .mbox-imageright,
.compact-ambox table .mbox-empty-cell {
	display: none;
}

/* Remove borders, backgrounds, padding, etc. */
.compact-ambox table.ambox {
	border: none;
	border-collapse: collapse;
	background-color: transparent;
	margin: 0 0 0 1.6em !important;
	padding: 0 !important;
	width: auto;
	display: block;
}

body.mediawiki .compact-ambox table.mbox-small-left {
	font-size: 100%;
	width: auto;
	margin: 0;
}

/* Style the text cell as a list item and remove its padding */
.compact-ambox table .mbox-text {
	padding: 0 !important;
	margin: 0 !important;
}

.compact-ambox table .mbox-text-span {
	display: list-item;
	line-height: 1.5em;
	list-style-type: square;
	list-style-image: url(/w/skins/MonoBook/resources/images/bullet.svg);
}

/* Allow for hiding text in compact form */
.compact-ambox .hide-when-compact {
	display: none;
}

/* Remove underlines from certain links */
.nounderlines a,
.IPA a:link,
.IPA a:visited {
	text-decoration: none !important;
}

/* Prevent line breaks in silly places where desired (nowrap)
   and links when we don't want them to (nowraplinks a) */
.nowrap,
.nowraplinks a {
	white-space: nowrap;
}

/* But allow wrapping where desired: */
.wrap,
.wraplinks a {
	white-space: normal;
}

/* Increase the height of the image upload box */
#wpUploadDescription {
	height: 13em;
}

/* Minimum thumb width */
.thumbinner {
	min-width: 100px;
}

/* Prevent floating boxes from overlapping any category listings,
   file histories, edit previews, and edit [Show changes] views. */
#mw-subcategories,
#mw-pages,
#mw-category-media,
#filehistory,
#wikiPreview,
#wikiDiff {
	clear: both;
}

/* Selectively hide headers in WikiProject banners */
/* TemplateStyles */
.wpb .wpb-header {
	display: none;
}

.wpbs-inner .wpb .wpb-header {
	display: table-row;
}

.wpbs-inner .wpb-outside {
	display: none;             /* hide things that should only display outside shells */
}

/* Styling for Abuse Filter tags */
.mw-tag-markers {
	font-style: italic;
	font-size: 90%;
}

/* Hide stuff meant for accounts with special permissions. Made visible again in
   [[MediaWiki:Group-checkuser.css]], [[MediaWiki:Group-sysop.css]], [[MediaWiki:Group-abusefilter.css]],
   [[MediaWiki:Group-abusefilter-helper.css]], [[MediaWiki:Group-patroller.css]],
   [[MediaWiki:Group-templateeditor.css]], [[MediaWiki:Group-extendedmover.css]],
   [[MediaWiki:Group-extendedconfirmed.css]], and [[Mediawiki:Group-autoconfirmed.css]]. */
.checkuser-show,
.sysop-show,
.abusefilter-show,
.abusefilter-helper-show,
.patroller-show,
.templateeditor-show,
.extendedmover-show,
.extendedconfirmed-show,
.autoconfirmed-show,
.user-show {
	display: none;
}

/* Hide the redlink generated by {{Editnotice}},
   this overrides the ".sysop-show { display: none; }" above that applies
   to the same link as well. See [[phab:T45013]]

   Hide the images in editnotices to keep them readable in VE view.
   Long term, editnotices should become a core feature so that they can be designed responsive. */
.ve-ui-mwNoticesPopupTool-item .editnotice-redlink,
.ve-ui-mwNoticesPopupTool-item .mbox-image,
.ve-ui-mwNoticesPopupTool-item .mbox-imageright {
	display: none !important;
}

/* Remove bullets when there are multiple edit page warnings */
ul.permissions-errors > li {
	list-style: none none;
}

ul.permissions-errors {
	margin: 0;
}

/* texhtml class for inline math (based on generic times-serif class) */
span.texhtml {
	font-family: "Nimbus Roman No9 L", "Times New Roman", Times, serif;
	font-size: 118%;
	line-height: 1;
	white-space: nowrap;
	/* Force tabular and lining display for texhtml */
	-webkit-font-feature-settings: "lnum", "tnum", "kern" 0;
	font-feature-settings: "lnum", "tnum", "kern" 0;
	font-variant-numeric: lining-nums tabular-nums;
	font-kerning: none;
}

span.texhtml span.texhtml {
	font-size: 100%;
}

span.mwe-math-mathml-inline {
	font-size: 118%;
}

/* Make <math display="block"> be left aligned with one space indent for 
 * compatibility with style conventions
 */
.mwe-math-fallback-image-display,
.mwe-math-mathml-display {
	margin-left: 1.6em !important;
	margin-top: 0.6em;
	margin-bottom: 0.6em;
}

.mwe-math-mathml-display math {
	display: inline;
}

/* Work-around for [[phab:T25965]] / [[phab:T100106]] (Kaltura advertisement) */
.k-player .k-attribution {
	visibility: hidden;
}

/* Move 'play' button of video player to bottom left corner */
.PopUpMediaTransform a .play-btn-large {
	margin: 0;
	top: auto;
	right: auto;
	bottom: 0;
	left: 0;
}

@media screen {
	/* Gallery styles background changes are restricted to screen view.
	   In printing we should avoid applying backgrounds. */
	/* The backgrounds for galleries. */
	#content .gallerybox div.thumb {
		/* Light gray padding */
		background-color: #f8f9fa;
	}
	/* Put a chequered background behind images, only visible if they have transparency.
	   '.filehistory a img' and '#file img:hover' are handled by MediaWiki core (as of 1.19) */
	.gallerybox .thumb img {
		background: #fff url(//upload.wikimedia.org/wikipedia/commons/5/5d/Checker-16x16.png) repeat;
	}
	/* But not on articles, user pages, portals or with opt-out. */
	.ns-0 .gallerybox .thumb img,
	.ns-2 .gallerybox .thumb img,
	.ns-100 .gallerybox .thumb img,
	.nochecker .gallerybox .thumb img {
		background-image: none;
	}

	/* Display "From Wikipedia, the free encyclopedia" in skins that support it,
	   do not apply to print mode */
	#siteSub {
		display: block;
	}
}

/* Hide FlaggedRevs notice UI when there are no pending changes */
.flaggedrevs_draft_synced,
.flaggedrevs_stable_synced,
/* "Temporary" to remove links in sidebar T255381 */
#t-upload,
/* Hide broken download box on Special:Book pending T285400 */
.mw-special-Book #coll-downloadbox {
	display: none;
}/*
MediaWiki:Vector.css
*/
/* Don't display some stuff on the main page */
.page-Main_Page #deleteconfirm,
.page-Main_Page #t-cite,
.page-Main_Page #footer-info-lastmod,
.action-view.page-Main_Page #siteSub,
.action-view.page-Main_Page #contentSub,
.action-view.page-Main_Page #contentSub2 {
	display: none !important;
}

/* Position coordinates */
#coordinates {
	position: absolute;
	top: 0;
	right: 0;
	float: right;
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	text-align: right;
	text-indent: 0;
	font-size: 85%;
	text-transform: none;
	white-space: nowrap;
}
/* correct position for VE */
.ve-ce-surface-enabled #coordinates {
	margin-right: 2em;
	margin-top: -1em;
}
.mw-indicator #coordinates {
	position: absolute;
	top: 3.5em;
	right: 0;
	line-height: 1.6;
	text-align: right;
	font-size: 92%;
	white-space: nowrap;
}

/* FR topicon position */
div.flaggedrevs_short {
	position: absolute;
	top: -3em;
	right: 100px;
	z-index: 1;
}

/* Make "From Wikipedia, the free encyclopedia" a bit smaller (T283756) */
#siteSub {
	font-size: 80%;
}
body.skin-vector-legacy #siteSub {
	font-size: 92%;
}


/* Move page status indicators down slightly */
.mw-body .mw-indicators {
	padding-top: 0.4em;
}

/* Override [[phab:T265947]] */
.mw-body-content blockquote {
	border-left: none;
}

/* Vector-specific list display in message boxes */
.compact-ambox table .mbox-text-span {
	list-style-type: disc;
	list-style-image: url(/w/skins/Vector/resources/common/images/bullet-icon.svg);
}@media print {
	/*
	MediaWiki:Print.css
	*/
	/* Do not print:
	   1: When in mainspace: Article message boxes,
	      navboxes, sister project boxes, disambig links,
	      and items marked as metadata.
	   2: section edit links.
	   3: navbar links.
	   4: Show/hide toggles for collapsible items.
	*/
	.ns--1 .ambox,
	.ns-0 .ambox,
	.ns--1 .navbox,
	.ns-0 .navbox,
	/* high specificity because Minerva */
	.mediawiki.ns--1 .mw-parser-output .sidebar,
	.mediawiki.ns-0 .mw-parser-output .sidebar,
	.ns--1 .sisterproject,
	.ns-0 .sisterproject,
	.ns--1 .hatnote,
	.ns-0 .hatnote,
	.ns--1 .metadata,
	.ns-0 .metadata,
	.sistersitebox,
	.editlink,
	.navbar,
	span.mw-collapsible-toggle,
	th .sortkey,
	td .sortkey,
	#mw-revision-nav,
	/* Add formatting to make sure that "external references" from templates
	   like [[Template:Ref]] do not get URL expansion, not even when printed.
	   The anchor itself has class "external autonumber" and the url expansion
	   is inserted when printing (see the common printing style sheet at
	   http://en.wikipedia.org/w/skins/common/commonPrint.css) using the
	   ":after" pseudo-element of CSS.
	*/
	.nourlexpansion a.external.text:after,
	.nourlexpansion a.external.autonumber:after {
		display: none !important;
	}
	
	/* Uncollapse collapsible things */
	.mw-parser-output .mw-collapsed .mw-collapsible-content {
		display: block !important;
	}
	
	table.collapsible tr,
	.mw-parser-output table.mw-collapsed > * > tr {
		display: table-row !important;
	}
	
	.mw-parser-output ol.mw-collapsed > li,
	.mw-parser-output ul.mw-collapsed > li {
		display: list-item !important;
	}
	
	/* On websites with siteSub visible, the margin on the firstHeading is not needed. */
	#firstHeading {
		margin: 0;
	}
	
	/* We don't want very long URLs (that are added to the content in print) to widen the canvas */
	#content a.external.text:after,
	#content a.external.autonumber:after {
		word-wrap: break-word;
	}
	
	/*
	- Basic infobox styling
	- Remove background colors, they are hard to print
	*/
	.infobox {
		border: solid 1px #aaa;
		background-color: #fff;
		border-spacing: 0;
		border-collapse: collapse;
		width: 180pt !important; /*T174957*/
	}
	
	.infobox > * > tr > td,
	.infobox > * > tr > th {
		padding: 2px 5px;
		border-bottom: 1px solid #EAECF0;		
	}
	
	/* Reduce noise for print medium - labels may be links */
	.infobox a,
	/* reset last border (set above) of infobox */
	.infobox > * > tr:last-child > th,
	.infobox > * > tr:last-child > td {
		border: 0;
	}
	
	/* References */
	.refbegin a,
	.references a,
	.reference a {
		color: black !important;
	}
	
	.reference a {
		border-bottom: 0;
	}
	
	ol.references,
	div.reflist,
	div.refbegin,
	cite * {
		/* Override any editor added inline styles that play with font-size */
		font-size: inherit !important;
	}
	
	.refbegin li,
	.references li {
		color: #666;
		line-height: 14pt;
	}
	
	.printfooter {
		clear: both;
	}}
/* stylelint-disable selector-class-pattern */
/* Galleries */
/* Don't forget to update gallery.print.css */
ul.gallery {
  margin: 2px;
  padding: 2px;
  display: block;
}
li.gallerycaption {
  font-weight: bold;
  text-align: center;
  display: block;
  word-wrap: break-word;
}
li.gallerybox {
  vertical-align: top;
  display: inline-block;
}
li.gallerybox div.thumb {
  text-align: center;
  margin: 2px;
}
li.gallerybox div.thumb img {
  display: block;
  margin: 0 auto;
}
div.gallerytext {
  overflow: hidden;
  font-size: 94%;
  padding: 2px 4px;
  word-wrap: break-word;
}
.galleryfilename {
  display: block;
}
.galleryfilename-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* new gallery stuff */
ul.mw-gallery-nolines li.gallerybox div.thumb {
  background-color: transparent;
  border: 0;
}
ul.mw-gallery-nolines li.gallerybox div.gallerytext {
  text-align: center;
}
/* height constrained gallery */
ul.mw-gallery-packed,
ul.mw-gallery-packed-overlay,
ul.mw-gallery-packed-hover {
  text-align: center;
}
ul.mw-gallery-packed li.gallerybox div.thumb,
ul.mw-gallery-packed-overlay li.gallerybox div.thumb,
ul.mw-gallery-packed-hover li.gallerybox div.thumb {
  background-color: transparent;
  border: 0;
}
ul.mw-gallery-packed li.gallerybox div.thumb img,
ul.mw-gallery-packed-overlay li.gallerybox div.thumb img,
ul.mw-gallery-packed-hover li.gallerybox div.thumb img {
  margin: 0 auto;
}
ul.mw-gallery-packed-hover li.gallerybox,
ul.mw-gallery-packed-overlay li.gallerybox {
  position: relative;
}
ul.mw-gallery-packed-hover div.gallerytextwrapper {
  overflow: hidden;
  height: 0;
}
ul.mw-gallery-packed-hover li.gallerybox:hover div.gallerytextwrapper,
ul.mw-gallery-packed-overlay li.gallerybox div.gallerytextwrapper,
ul.mw-gallery-packed-hover li.gallerybox.mw-gallery-focused div.gallerytextwrapper {
  position: absolute;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  padding: 5px 10px;
  bottom: 0;
  left: 0;
  /* Needed for IE */
  height: auto;
  max-height: 40%;
  overflow: hidden;
  font-weight: bold;
  margin: 2px;
  /* correspond to style on div.thumb */
}
ul.mw-gallery-packed-hover li.gallerybox:hover div.gallerytextwrapper p,
ul.mw-gallery-packed-overlay li.gallerybox div.gallerytextwrapper p,
ul.mw-gallery-packed-hover li.gallerybox.mw-gallery-focused div.gallerytextwrapper p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
ul.mw-gallery-packed-hover li.gallerybox:hover div.gallerytextwrapper:hover,
ul.mw-gallery-packed-overlay li.gallerybox div.gallerytextwrapper:hover,
ul.mw-gallery-packed-hover li.gallerybox.mw-gallery-focused div.gallerytextwrapper:hover {
  overflow: visible;
  max-height: none;
}
ul.mw-gallery-packed-hover li.gallerybox:hover div.gallerytextwrapper:hover p,
ul.mw-gallery-packed-overlay li.gallerybox div.gallerytextwrapper:hover p,
ul.mw-gallery-packed-hover li.gallerybox.mw-gallery-focused div.gallerytextwrapper:hover p {
  text-overflow: clip;
  white-space: normal;
  overflow: visible;
}
/* Slideshow */
ul.gallery.mw-gallery-slideshow {
  display: block;
  margin: 4em 0;
  /* `li` item */
}
ul.gallery.mw-gallery-slideshow .gallerycaption {
  font-size: 1.3em;
  margin: 0;
}
ul.gallery.mw-gallery-slideshow .gallerycarousel {
  display: block;
  text-align: center;
}
ul.gallery.mw-gallery-slideshow .gallerycarousel.mw-gallery-slideshow-thumbnails-toggled {
  margin-bottom: 1.3em;
}
ul.gallery.mw-gallery-slideshow .mw-gallery-slideshow-buttons {
  opacity: 0.5;
  padding: 1.3em 0;
  white-space: nowrap;
}
ul.gallery.mw-gallery-slideshow .mw-gallery-slideshow-buttons .oo-ui-buttonElement {
  margin: 0 2em;
}
ul.gallery.mw-gallery-slideshow .mw-gallery-slideshow-buttons .oo-ui-buttonElement:first-child {
  margin-left: 0;
}
ul.gallery.mw-gallery-slideshow .mw-gallery-slideshow-buttons .oo-ui-buttonElement:last-child {
  margin-right: 0;
}
ul.gallery.mw-gallery-slideshow .gallerybox.slideshow-current {
  background: #efefef;
}
ul.gallery.mw-gallery-slideshow .gallerybox > div {
  max-width: 120px;
}
ul.gallery.mw-gallery-slideshow .gallerybox div.thumb {
  border: 0;
  background: transparent;
}
.mw-gallery-slideshow-img-container a {
  display: block;
}
@media screen {
  /* Background and border colors are defined separately for print mode */
  li.gallerybox div.thumb {
    border: 1px solid #c8ccd1;
    background-color: #f8f9fa;
  }
}@media print {
	/* stylelint-disable selector-class-pattern */
	li.gallerybox {
	  vertical-align: top;
	  display: inline-block;
	}
	li.gallerybox div.thumb {
	  background-color: #fff;
	  border: 1px solid #ccc;
	}
	ul.gallery {
	  margin: 2px;
	  padding: 2px;
	  display: block;
	}
	li.gallerycaption {
	  font-weight: bold;
	  text-align: center;
	  display: block;
	  word-wrap: break-word;
	}
	div.gallerytext {
	  overflow: visible;
	}
	ul.mw-gallery-packed-hover div.gallerytextwrapper {
	  overflow: visible;
	  height: auto;
	}
	ul.mw-gallery-packed-hover li.gallerybox:hover div.gallerytextwrapper,
	ul.mw-gallery-packed-overlay li.gallerybox div.gallerytextwrapper,
	ul.mw-gallery-packed-hover li.gallerybox.mw-gallery-focused div.gallerytextwrapper {
	  position: static;
	  background: transparent;
	  padding: 0;
	  max-height: none;
	  overflow: visible;
	  font-weight: normal;
	  margin: 0;
	  /* correspond to style on div.thumb */
	}
	ul.mw-gallery-packed-hover li.gallerybox:hover div.gallerytextwrapper p,
	ul.mw-gallery-packed-overlay li.gallerybox div.gallerytextwrapper p,
	ul.mw-gallery-packed-hover li.gallerybox.mw-gallery-focused div.gallerytextwrapper p {
	  text-overflow: clip;
	  white-space: normal;
	  overflow: visible;
	}}
/**
 * Style Parsoid HTML+RDFa output consistent with wikitext from PHP parser.
 */
/*
 * Auto-numbered external links
 * Parsoid renders those as link without content, and lets CSS do the
 * counting. This way the counting style can be customized, and counts update
 * automatically when content is modified.
 */
.mw-parser-output {
  counter-reset: mw-numbered-ext-link;
}
.mw-parser-output a[rel~='mw:ExtLink']:empty:after {
  content: '[' counter(mw-numbered-ext-link) ']';
  counter-increment: mw-numbered-ext-link;
}

/**
 * Block media items
 */
figure[typeof~='mw:Image'],
figure[typeof~='mw:Video'],
figure[typeof~='mw:Audio'],
figure[typeof~='mw:Image/Frameless'],
figure[typeof~='mw:Video/Frameless'],
figure[typeof~='mw:Audio/Frameless'] {
  margin: 0;
  /* Hide the caption for frameless and plain floated images */
}
.mw-body-content figure[typeof~='mw:Image'] > a,
.mw-body-content figure[typeof~='mw:Video'] > a,
.mw-body-content figure[typeof~='mw:Audio'] > a,
.mw-body-content figure[typeof~='mw:Image/Frameless'] > a,
.mw-body-content figure[typeof~='mw:Video/Frameless'] > a,
.mw-body-content figure[typeof~='mw:Audio/Frameless'] > a {
  border: 0;
}
figure[typeof~='mw:Image'].mw-halign-right,
figure[typeof~='mw:Video'].mw-halign-right,
figure[typeof~='mw:Audio'].mw-halign-right,
figure[typeof~='mw:Image/Frameless'].mw-halign-right,
figure[typeof~='mw:Video/Frameless'].mw-halign-right,
figure[typeof~='mw:Audio/Frameless'].mw-halign-right {
  /* @noflip */
  margin: 0 0 0.5em 0.5em;
  /* @noflip */
  clear: right;
  /* @noflip */
  float: right;
}
figure[typeof~='mw:Image'].mw-halign-left,
figure[typeof~='mw:Video'].mw-halign-left,
figure[typeof~='mw:Audio'].mw-halign-left,
figure[typeof~='mw:Image/Frameless'].mw-halign-left,
figure[typeof~='mw:Video/Frameless'].mw-halign-left,
figure[typeof~='mw:Audio/Frameless'].mw-halign-left {
  /* @noflip */
  margin: 0 0.5em 0.5em 0;
  /* @noflip */
  clear: left;
  /* @noflip */
  float: left;
}
figure[typeof~='mw:Image'].mw-halign-none,
figure[typeof~='mw:Video'].mw-halign-none,
figure[typeof~='mw:Audio'].mw-halign-none,
figure[typeof~='mw:Image/Frameless'].mw-halign-none,
figure[typeof~='mw:Video/Frameless'].mw-halign-none,
figure[typeof~='mw:Audio/Frameless'].mw-halign-none {
  clear: none;
  float: none;
}
figure[typeof~='mw:Image'].mw-halign-center,
figure[typeof~='mw:Video'].mw-halign-center,
figure[typeof~='mw:Audio'].mw-halign-center,
figure[typeof~='mw:Image/Frameless'].mw-halign-center,
figure[typeof~='mw:Video/Frameless'].mw-halign-center,
figure[typeof~='mw:Audio/Frameless'].mw-halign-center {
  /* Matches *.center * in element.css */
  margin: 0 auto;
  display: table;
  border-collapse: collapse;
  clear: none;
  float: none;
}
figure[typeof~='mw:Image'] > figcaption,
figure[typeof~='mw:Video'] > figcaption,
figure[typeof~='mw:Audio'] > figcaption,
figure[typeof~='mw:Image/Frameless'] > figcaption,
figure[typeof~='mw:Video/Frameless'] > figcaption,
figure[typeof~='mw:Audio/Frameless'] > figcaption {
  display: none;
}
figure[typeof~='mw:Image/Thumb'],
figure[typeof~='mw:Video/Thumb'],
figure[typeof~='mw:Audio/Thumb'],
figure[typeof~='mw:Image/Frame'],
figure[typeof~='mw:Video/Frame'],
figure[typeof~='mw:Audio/Frame'] {
  margin: 0;
  margin-bottom: 0.5em;
  display: table;
  text-align: center;
  border-collapse: collapse;
}
.mw-body-content figure[typeof~='mw:Image/Thumb'] > a,
.mw-body-content figure[typeof~='mw:Video/Thumb'] > a,
.mw-body-content figure[typeof~='mw:Audio/Thumb'] > a,
.mw-body-content figure[typeof~='mw:Image/Frame'] > a,
.mw-body-content figure[typeof~='mw:Video/Frame'] > a,
.mw-body-content figure[typeof~='mw:Audio/Frame'] > a {
  border: 0;
}
.mw-content-ltr figure[typeof~='mw:Image/Thumb'],
.mw-content-ltr figure[typeof~='mw:Video/Thumb'],
.mw-content-ltr figure[typeof~='mw:Audio/Thumb'],
.mw-content-ltr figure[typeof~='mw:Image/Frame'],
.mw-content-ltr figure[typeof~='mw:Video/Frame'],
.mw-content-ltr figure[typeof~='mw:Audio/Frame'] {
  /* @noflip */
  margin: 0.5em 0 1.3em 1.4em;
  /* @noflip */
  clear: right;
  /* @noflip */
  float: right;
}
.mw-content-rtl figure[typeof~='mw:Image/Thumb'],
.mw-content-rtl figure[typeof~='mw:Video/Thumb'],
.mw-content-rtl figure[typeof~='mw:Audio/Thumb'],
.mw-content-rtl figure[typeof~='mw:Image/Frame'],
.mw-content-rtl figure[typeof~='mw:Video/Frame'],
.mw-content-rtl figure[typeof~='mw:Audio/Frame'] {
  /* @noflip */
  margin: 0.5em 1.4em 1.3em 0;
  /* @noflip */
  clear: left;
  /* @noflip */
  float: left;
}
figure[typeof~='mw:Image/Thumb'].mw-halign-right,
figure[typeof~='mw:Video/Thumb'].mw-halign-right,
figure[typeof~='mw:Audio/Thumb'].mw-halign-right,
figure[typeof~='mw:Image/Frame'].mw-halign-right,
figure[typeof~='mw:Video/Frame'].mw-halign-right,
figure[typeof~='mw:Audio/Frame'].mw-halign-right {
  /* @noflip */
  margin: 0.5em 0 1.3em 1.4em;
  /* @noflip */
  clear: right;
  /* @noflip */
  float: right;
}
figure[typeof~='mw:Image/Thumb'].mw-halign-left,
figure[typeof~='mw:Video/Thumb'].mw-halign-left,
figure[typeof~='mw:Audio/Thumb'].mw-halign-left,
figure[typeof~='mw:Image/Frame'].mw-halign-left,
figure[typeof~='mw:Video/Frame'].mw-halign-left,
figure[typeof~='mw:Audio/Frame'].mw-halign-left {
  /* @noflip */
  margin: 0.5em 1.4em 1.3em 0;
  /* @noflip */
  clear: left;
  /* @noflip */
  float: left;
}
figure[typeof~='mw:Image/Thumb'].mw-halign-none,
figure[typeof~='mw:Video/Thumb'].mw-halign-none,
figure[typeof~='mw:Audio/Thumb'].mw-halign-none,
figure[typeof~='mw:Image/Frame'].mw-halign-none,
figure[typeof~='mw:Video/Frame'].mw-halign-none,
figure[typeof~='mw:Audio/Frame'].mw-halign-none {
  /* Override the default margin from mw-content-xxx above */
  margin: 0;
  margin-bottom: 0.5em;
  clear: none;
  float: none;
}
figure[typeof~='mw:Image/Thumb'].mw-halign-center,
figure[typeof~='mw:Video/Thumb'].mw-halign-center,
figure[typeof~='mw:Audio/Thumb'].mw-halign-center,
figure[typeof~='mw:Image/Frame'].mw-halign-center,
figure[typeof~='mw:Video/Frame'].mw-halign-center,
figure[typeof~='mw:Audio/Frame'].mw-halign-center {
  /* Override the default margin from mw-content-xxx above
		 * And, matches *.center * in element.css
		 */
  margin: 0 auto 0.5em auto;
  clear: none;
  float: none;
}
figure[typeof~='mw:Image/Thumb'] > *:first-child,
figure[typeof~='mw:Video/Thumb'] > *:first-child,
figure[typeof~='mw:Audio/Thumb'] > *:first-child,
figure[typeof~='mw:Image/Frame'] > *:first-child,
figure[typeof~='mw:Video/Frame'] > *:first-child,
figure[typeof~='mw:Audio/Frame'] > *:first-child {
  /**
		 * Broken media get a span instead.
		 *
		 * FIXME: The `> span:first-child` can be removed once the class
		 * is rolled out in Parsoid as well and content in RESTBase regenerated.
		 */
}
figure[typeof~='mw:Image/Thumb'] > *:first-child > audio,
figure[typeof~='mw:Video/Thumb'] > *:first-child > audio,
figure[typeof~='mw:Audio/Thumb'] > *:first-child > audio,
figure[typeof~='mw:Image/Frame'] > *:first-child > audio,
figure[typeof~='mw:Video/Frame'] > *:first-child > audio,
figure[typeof~='mw:Audio/Frame'] > *:first-child > audio,
figure[typeof~='mw:Image/Thumb'] > *:first-child > img,
figure[typeof~='mw:Video/Thumb'] > *:first-child > img,
figure[typeof~='mw:Audio/Thumb'] > *:first-child > img,
figure[typeof~='mw:Image/Frame'] > *:first-child > img,
figure[typeof~='mw:Video/Frame'] > *:first-child > img,
figure[typeof~='mw:Audio/Frame'] > *:first-child > img,
figure[typeof~='mw:Image/Thumb'] > *:first-child > video,
figure[typeof~='mw:Video/Thumb'] > *:first-child > video,
figure[typeof~='mw:Audio/Thumb'] > *:first-child > video,
figure[typeof~='mw:Image/Frame'] > *:first-child > video,
figure[typeof~='mw:Video/Frame'] > *:first-child > video,
figure[typeof~='mw:Audio/Frame'] > *:first-child > video {
  margin: 3px;
}
figure[typeof~='mw:Image/Thumb'] > *:first-child > span:first-child,
figure[typeof~='mw:Video/Thumb'] > *:first-child > span:first-child,
figure[typeof~='mw:Audio/Thumb'] > *:first-child > span:first-child,
figure[typeof~='mw:Image/Frame'] > *:first-child > span:first-child,
figure[typeof~='mw:Video/Frame'] > *:first-child > span:first-child,
figure[typeof~='mw:Audio/Frame'] > *:first-child > span:first-child,
figure[typeof~='mw:Image/Thumb'] > *:first-child > span.mw-broken-media,
figure[typeof~='mw:Video/Thumb'] > *:first-child > span.mw-broken-media,
figure[typeof~='mw:Audio/Thumb'] > *:first-child > span.mw-broken-media,
figure[typeof~='mw:Image/Frame'] > *:first-child > span.mw-broken-media,
figure[typeof~='mw:Video/Frame'] > *:first-child > span.mw-broken-media,
figure[typeof~='mw:Audio/Frame'] > *:first-child > span.mw-broken-media {
  display: inline-block;
  /* The extra horizontal margin here is to make up for the lack of a border */
  margin: 3px 4px;
  /* This is hardcoded in Linker::makeThumbLink2 for broken media */
  width: 180px;
  /* Styles the text of broken media */
  font-size: 94%;
}
figure[typeof~='mw:Image/Thumb'] > figcaption,
figure[typeof~='mw:Video/Thumb'] > figcaption,
figure[typeof~='mw:Audio/Thumb'] > figcaption,
figure[typeof~='mw:Image/Frame'] > figcaption,
figure[typeof~='mw:Video/Frame'] > figcaption,
figure[typeof~='mw:Audio/Frame'] > figcaption {
  display: table-caption;
  caption-side: bottom;
  line-height: 1.4em;
  /**
		 * The "break-word" value is deprecated, however, it's well supported
		 * at 94.73%
		 * https://caniuse.com/mdn-css_properties_word-break_break-word
		 *
		 * The spec suggests it has the same effect as,
		 *
		 *   word-break: normal;
		 *   overflow-wrap: anywhere;
		 *
		 * https://drafts.csswg.org/css-text-3/#word-break-property
		 *
		 * So, we should use that.  However, support for "anywhere" is lagging
		 * at just 72.39%, with Safari being a notable miss.
		 * https://caniuse.com/mdn-css_properties_overflow-wrap_anywhere
		 *
		 * "Soft wrap opportunities introduced by the word break are considered
		 * when calculating min-content intrinsic sizes."
		 * From https://developer.mozilla.org/en-US/docs/Web/CSS/overflow-wrap
		 */
  word-break: break-word;
  /* taken from .thumbcaption, plus .thumbinner */
  padding: 0 6px 6px 6px;
}
.mw-content-ltr figure[typeof~='mw:Image/Thumb'] > figcaption,
.mw-content-ltr figure[typeof~='mw:Video/Thumb'] > figcaption,
.mw-content-ltr figure[typeof~='mw:Audio/Thumb'] > figcaption,
.mw-content-ltr figure[typeof~='mw:Image/Frame'] > figcaption,
.mw-content-ltr figure[typeof~='mw:Video/Frame'] > figcaption,
.mw-content-ltr figure[typeof~='mw:Audio/Frame'] > figcaption {
  /* @noflip */
  text-align: left;
}
.mw-content-rtl figure[typeof~='mw:Image/Thumb'] > figcaption,
.mw-content-rtl figure[typeof~='mw:Video/Thumb'] > figcaption,
.mw-content-rtl figure[typeof~='mw:Audio/Thumb'] > figcaption,
.mw-content-rtl figure[typeof~='mw:Image/Frame'] > figcaption,
.mw-content-rtl figure[typeof~='mw:Video/Frame'] > figcaption,
.mw-content-rtl figure[typeof~='mw:Audio/Frame'] > figcaption {
  /* @noflip */
  text-align: right;
}
/**
 * Inline media items
 */
.mw-valign-middle > *:first-child > audio,
.mw-valign-middle > *:first-child > img,
.mw-valign-middle > *:first-child > video {
  vertical-align: middle;
}
.mw-valign-baseline > *:first-child > audio,
.mw-valign-baseline > *:first-child > img,
.mw-valign-baseline > *:first-child > video {
  vertical-align: baseline;
}
.mw-valign-sub > *:first-child > audio,
.mw-valign-sub > *:first-child > img,
.mw-valign-sub > *:first-child > video {
  vertical-align: sub;
}
.mw-valign-super > *:first-child > audio,
.mw-valign-super > *:first-child > img,
.mw-valign-super > *:first-child > video {
  vertical-align: super;
}
.mw-valign-top > *:first-child > audio,
.mw-valign-top > *:first-child > img,
.mw-valign-top > *:first-child > video {
  vertical-align: top;
}
.mw-valign-text-top > *:first-child > audio,
.mw-valign-text-top > *:first-child > img,
.mw-valign-text-top > *:first-child > video {
  vertical-align: text-top;
}
.mw-valign-bottom > *:first-child > audio,
.mw-valign-bottom > *:first-child > img,
.mw-valign-bottom > *:first-child > video {
  vertical-align: bottom;
}
.mw-valign-text-bottom > *:first-child > audio,
.mw-valign-text-bottom > *:first-child > img,
.mw-valign-text-bottom > *:first-child > video {
  vertical-align: text-bottom;
}
/* stylelint-disable selector-class-pattern */
/**
 * Avoid the need to calculate paddings individually
 * https://stackoverflow.com/a/7310398
 *
 * FIXME: This would be better in mediawiki.page.gallery.styles,
 * but let's wait until wgParserEnableLegacyMediaDOM is removed
 */
.mw-gallery-traditional .gallerybox > .thumb:before {
  content: '';
  vertical-align: middle;
  display: inline-block;
  height: 100%;
}
.mw-gallery-traditional .gallerybox > .thumb > * {
  vertical-align: middle;
  display: inline-block;
}

figure[typeof~='mw:Image/Thumb'],
figure[typeof~='mw:Video/Thumb'],
figure[typeof~='mw:Audio/Thumb'],
figure[typeof~='mw:Image/Frame'],
figure[typeof~='mw:Video/Frame'],
figure[typeof~='mw:Audio/Frame'] {
  border: 1px solid #c8ccd1;
  border-bottom: 0;
  background-color: #f8f9fa;
}
figure[typeof~='mw:Image/Thumb'] > *:first-child > audio,
figure[typeof~='mw:Video/Thumb'] > *:first-child > audio,
figure[typeof~='mw:Audio/Thumb'] > *:first-child > audio,
figure[typeof~='mw:Image/Frame'] > *:first-child > audio,
figure[typeof~='mw:Video/Frame'] > *:first-child > audio,
figure[typeof~='mw:Audio/Frame'] > *:first-child > audio,
figure[typeof~='mw:Image/Thumb'] > *:first-child > img,
figure[typeof~='mw:Video/Thumb'] > *:first-child > img,
figure[typeof~='mw:Audio/Thumb'] > *:first-child > img,
figure[typeof~='mw:Image/Frame'] > *:first-child > img,
figure[typeof~='mw:Video/Frame'] > *:first-child > img,
figure[typeof~='mw:Audio/Frame'] > *:first-child > img,
figure[typeof~='mw:Image/Thumb'] > *:first-child > video,
figure[typeof~='mw:Video/Thumb'] > *:first-child > video,
figure[typeof~='mw:Audio/Thumb'] > *:first-child > video,
figure[typeof~='mw:Image/Frame'] > *:first-child > video,
figure[typeof~='mw:Video/Frame'] > *:first-child > video,
figure[typeof~='mw:Audio/Frame'] > *:first-child > video {
  border: 1px solid #c8ccd1;
  background: #ffffff;
}
figure[typeof~='mw:Image/Thumb'] > figcaption,
figure[typeof~='mw:Video/Thumb'] > figcaption,
figure[typeof~='mw:Audio/Thumb'] > figcaption,
figure[typeof~='mw:Image/Frame'] > figcaption,
figure[typeof~='mw:Video/Frame'] > figcaption,
figure[typeof~='mw:Audio/Frame'] > figcaption {
  border: 1px solid #c8ccd1;
  border-top: 0;
  background-color: #f8f9fa;
  /* In mw-core the font-size is duplicated, 94% in thumbinner
		 * and again 94% in thumbcaption. 88.4% for font size of the
		 * caption results in the same behavior. */
  font-size: 88.4%;
}
.mw-image-border > *:first-child > audio,
.mw-image-border > *:first-child > img,
.mw-image-border > *:first-child > video {
  border: 1px solid #eaecf0;
}
/* Magnify clip, not present for broken media */
figure[typeof~='mw:Image/Thumb']:not( [ typeof~='mw:Error' ] ) > figcaption:before,
figure[typeof~='mw:Video/Thumb']:not( [ typeof~='mw:Error' ] ) > figcaption:before,
figure[typeof~='mw:Audio/Thumb']:not( [ typeof~='mw:Error' ] ) > figcaption:before {
  content: '';
  width: 15px;
  height: 11px;
}
.mw-content-ltr figure[typeof~='mw:Image/Thumb']:not( [ typeof~='mw:Error' ] ) > figcaption:before,
.mw-content-ltr figure[typeof~='mw:Video/Thumb']:not( [ typeof~='mw:Error' ] ) > figcaption:before,
.mw-content-ltr figure[typeof~='mw:Audio/Thumb']:not( [ typeof~='mw:Error' ] ) > figcaption:before {
  /* @noflip */
  margin-left: 3px;
  /* @noflip */
  float: right;
}
.mw-content-rtl figure[typeof~='mw:Image/Thumb']:not( [ typeof~='mw:Error' ] ) > figcaption:before,
.mw-content-rtl figure[typeof~='mw:Video/Thumb']:not( [ typeof~='mw:Error' ] ) > figcaption:before,
.mw-content-rtl figure[typeof~='mw:Audio/Thumb']:not( [ typeof~='mw:Error' ] ) > figcaption:before {
  /* @noflip */
  margin-right: 3px;
  /* @noflip */
  float: left;
}
figure[typeof~='mw:Image/Thumb']:not( [ typeof~='mw:Error' ] ) > a,
figure[typeof~='mw:Video/Thumb']:not( [ typeof~='mw:Error' ] ) > a,
figure[typeof~='mw:Audio/Thumb']:not( [ typeof~='mw:Error' ] ) > a {
  display: inline-block;
  position: relative;
}
figure[typeof~='mw:Image/Thumb']:not( [ typeof~='mw:Error' ] ) > a:after,
figure[typeof~='mw:Video/Thumb']:not( [ typeof~='mw:Error' ] ) > a:after,
figure[typeof~='mw:Audio/Thumb']:not( [ typeof~='mw:Error' ] ) > a:after {
  content: '';
  width: 15px;
  height: 11px;
  position: absolute;
  bottom: -11px;
}
.mw-content-ltr figure[typeof~='mw:Image/Thumb']:not( [ typeof~='mw:Error' ] ) > a:after,
.mw-content-ltr figure[typeof~='mw:Video/Thumb']:not( [ typeof~='mw:Error' ] ) > a:after,
.mw-content-ltr figure[typeof~='mw:Audio/Thumb']:not( [ typeof~='mw:Error' ] ) > a:after {
  /* @noflip */
  right: 6px;
  /* @noflip */
  background-image: url(/w/resources/src/mediawiki.skinning/images/magnify-clip-ltr.svg?8330e);
}
.mw-content-rtl figure[typeof~='mw:Image/Thumb']:not( [ typeof~='mw:Error' ] ) > a:after,
.mw-content-rtl figure[typeof~='mw:Video/Thumb']:not( [ typeof~='mw:Error' ] ) > a:after,
.mw-content-rtl figure[typeof~='mw:Audio/Thumb']:not( [ typeof~='mw:Error' ] ) > a:after {
  /* @noflip */
  left: 6px;
  /* @noflip */
  background-image: url(/w/resources/src/mediawiki.skinning/images/magnify-clip-rtl.svg?38fd5);
}
